<phpunit>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Entity Test Suite">
            <directory>./tests/entity</directory>
        </testsuite>
        <testsuite name="Table Test Suite">
            <directory>./tests/table</directory>
        </testsuite>
        <testsuite name="Exceptions Test Suite">
            <directory>./tests/exceptions</directory>
        </testsuite>
        <testsuite name="Utilities Test Suite">
            <directory>./tests/utilities</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="test-results.xml"/>
    </logging>
</phpunit>