<phpunit>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Entity Test Suite">
            <directory>./tests/entity</directory>
        </testsuite>
        <testsuite name="Utilities Test Suite">
            <directory>./tests/utilities</directory>
        </testsuite>
    </testsuites>
</phpunit>