<phpunit
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true">
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <groups>
        <exclude>
            <group>abstract</group>
        </exclude>
    </groups>
    <coverage>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Builder Test Suite">
            <directory suffix="Test.php">./tests/builder</directory>
        </testsuite>
        <testsuite name="Entity Test Suite">
            <directory>./tests/entity</directory>
        </testsuite>
        <testsuite name="Table Test Suite">
            <directory>./tests/table</directory>
        </testsuite>
        <testsuite name="Exception Test Suite">
            <directory>./tests/exception</directory>
        </testsuite>
        <testsuite name="Utility Test Suite">
            <directory>./tests/utility</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="test-results.xml" />
    </logging>
</phpunit>
