:root{
    --color-dark: #1f1f1f;
    --color-light: #f1f1f1;
    --color-red: #f01a0f;
    --color-green: #0fa10f;
}

html,
body {
    height: 100vh;
    margin: 0 0.5rem;
    overflow: hidden;
    background-color: var(--color-dark);
    color: var(--color-light);
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/**
 * Table
 */

table{
    margin: 0 auto;
    border: 1px solid var(--color-light);
    border-radius: 1rem;
    border-collapse: collapse;
}

table tr td{
    border: 1px solid var(--color-light);
    padding: 0.25rem 0.5rem;
    text-align: justify;
}

table tr.success td:nth-child(3){
    color: var(--color-green);
}

table tr.fail td:nth-child(3){
    color: var(--color-red);
}

table tr td:nth-child(3){
    text-align: center;
}

/**
 * Dropdown-panel
 */

.dropdown-panel {
    border: 1px solid grey;
}

.dropdown-panel>* {
    padding: 0.5rem
}

.dropdown-panel label {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: block;
    cursor: pointer;
    border-bottom: 1px solid grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-panel label.success {
    color: var(--color-green);
}

.dropdown-panel label.fail {
    color: var(--color-red);
}

.dropdown-panel label:hover {
    filter: brightness(1.5);
}

.dropdown-panel input {
    display: none;
}

.dropdown-panel input:checked~.content {
    height: 70vh;
}

.dropdown-panel .content {
    padding: 0;
    height: 0rem;
    transition: height 1s linear;
    overflow-y: scroll;
}

.dropdown-panel .content .tables {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

@media (min-width: 576px) { 
    .dropdown-panel label{
        text-align: justify;
    }
 }

 @media (min-width:1200px) {
    .dropdown-panel label{
        text-align: center;
    }
 }