/**
 * Root variables
 */
:root {
  --color-dark: #1f1f1f;
  --color-light: #f1f1f1;
  --color-dim: #a5a5a5;
  --color-red: #f01a0f;
  --color-green: #0fa10f;
}

/**
 * Root page
 */
html,
body {
  height: 100vh;
  margin: 0 0.5rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/**
 * Table
 */

table {
  margin: 0 auto;
  border: 1px solid var(--color-light);
  border-radius: 1rem;
  border-collapse: collapse;
}

table tr td {
  border: 1px solid var(--color-light);
  padding: 0.25rem 0.5rem;
  text-align: justify;
}

table tr.success td:nth-child(3) {
  color: var(--color-green);
}

table tr.fail td:nth-child(3) {
  color: var(--color-red);
}

table tr td:nth-child(3) {
  text-align: center;
}

/**
 * Dropdown-panel
 */

.dropdown-panel {
  border: 1px solid grey;
}

.dropdown-panel a{
  text-decoration: none;
  color: var(--color-light);
}

.dropdown-panel a:hover{
  color: var(--color-dim);
}

.dropdown-panel label {
  background-color: var(--color-dark);
  color: var(--color-light);
  display: block;
  cursor: pointer;
  border-bottom: 1px solid grey;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.5rem;
}

.dropdown-panel label.success {
  color: var(--color-green);
}

.dropdown-panel label.fail {
  color: var(--color-red);
}

.dropdown-panel label:hover {
  filter: brightness(1.5);
}

.dropdown-panel input {
  display: none;
}

.dropdown-panel input:checked ~ .content {
  height: 70vh;
}

.dropdown-panel .content {
  padding: 0;
  height: 0rem;
  transition: height 1s linear;
  overflow-y: scroll;
}

.dropdown-panel .content .tables {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

/**
 * Spinner
 */

.spinner:not([hidden]) {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
  width: unset;
}

.spinner::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #222222;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

/**
 * Animations
 */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
 * Differences with screen size change
 */

@media (min-width: 576px) {
  html {
    overflow: auto;
  }

  .dropdown-panel label {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  html {
    overflow: hidden;
  }

  .dropdown-panel label {
    text-align: center;
  }
}
