<?php

return [
    "db" => [
        "main" => "ffb_main",
        "stats"=> "ffb_stats",
        "tests"=> "ffb_tests",
    ],
    "credentials" => [
        "guest" => [
            "host" => "localhost",
            "port" => "3306",
            "user" => "guest",
            "password" => ""
        ],
        "user" => [
            "host" => "localhost",
            "port" => "3306",
            "user" => "ffb_user",
            "password" => ""
        ],
        "admin" => [
            "host" => "localhost",
            "port" => "3306",
            "user" => "ffb_admin",
            "password" => ""
        ]
    ]
];
