<?php

return [
    "db" => [
        "main" => "ffb_main",
        "stats"=> "ffb_stats",
        "tests"=> "ffb_tests",
    ],
    "credentials" => [
        "guest" => [
            "host" => getenv('DB_HOST') ?: "127.0.0.1",
            "port" => "3306",
            "user" => "ffb_guest",
            "password" => "1Gu3stIsw4yBetter*"
        ],
        "user" => [
            "host" => getenv('DB_HOST') ?: "127.0.0.1",
            "port" => "3306",
            "user" => "ffb_user",
            "password" => "MyUs3R5*i5Rich_"
        ],
        "admin" => [
            "host" => getenv('DB_HOST') ?: "127.0.0.1",
            "port" => "3306",
            "user" => "ffb_admin",
            "password" => "Adm1nGrants3*pr1v1leges"
        ]
    ],
    "token" => [
        "ffb_secret" => "TestPhpSecret", // <- Change here
        "ffb_expiration" => 14400, // 4 hour in seconds
        "ffb_algorithm" => "HS256",
    ],
    "allowed_origins" => [
        ''
    ],
    "api" => [
        // Variable d'environnement pour le host de l'API
        "base" => getenv('DB_HOST') . ':8080/api' ?: "127.0.0.1:8080/api",
    ]
];